* {
    padding: 0;
    margin: 0;
    font-size: 24px;
}

@font-face {
    font-family: 'Norse-Bold';
    src: url('./assets/Norse-Bold.otf') format('opentype');
}

:root {
    --btn: #596D48;
    --input-border: #E5E7EB;
}

.container {
    display: flex;
    height: 100vh;
}

.content {
    flex-basis: 60vw;
    background-color: #f8f8f8;

}
header {
    padding: 20px;
}

header p {
    padding-bottom: 20px;
}

.signup h3 {
    font-size: .9rem;
}



form ul{
    list-style-type: none;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px 0;
    justify-content: flex-start;
    gap:20px;
    box-shadow: 10px 11px 24px -12px rgba(179,173,179,1);

}

form ul li {
    flex-basis: 1rem;
    padding: 0 20px;
}

form ul li label {
    font-size: .6rem;
}



form button {
    cursor: pointer;
    padding: 8px 50px;
    margin: 20px;
    font-size: .6rem;
    font-weight: bolder;
    border-radius: 2px;
    background-color: var(--btn);
    color:white;
}

.signin {
    display: flex;
    margin: 20px;
}

.signin p,
.signin button {
    font-size: .75rem;
}

.signin button {
    cursor: pointer;
    color: var(--btn);
    background-color: transparent;
    border: none;
    margin: 0px 5px;
}

.bg {
    background-image: url("./assets/bgimage.jpg");
    background-size: cover;
    flex-basis: 40vw;
}

.logo {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.logo img {
    width: auto;
    height: 100px;
}
.logo h1 {
    font-family: 'Norse-Bold', sans-serif;
    color: white;
    font-size: 4rem;
}

