* {
    padding: 0;
    margin: 0;
    font-size: 24px;
}

@font-face {
    font-family: 'Norse-Bold';
    src: url('./assets/Norse-Bold.otf') format('opentype');
}

:root {
    --btn: #596D48;
    --input-border: #E5E7EB;
}

.container {
    display: flex;
    height: 100vh;
}

.content {
    flex-basis: 60vw;
    padding:40px;
}
header {
    padding-bottom: 40px;
}

header p {
    padding-bottom: 40px;
}

form ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 20px;
}

form ul li {
    max-width: 40%;
    padding-right:20px;
}

form ul li label {
    font-size: .75rem;
}
form button {
    padding-bottom: 20px;
}

.signin {
    display: flex;
}

.signin p,
.signin button {
    font-size: .75rem;
}

.bg {
    background-image: url("./assets/bgimage.jpg");
    background-size: cover;
    flex-basis: 40vw;
}

.logo {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.logo img {
    width: auto;
    height: 100px;
}
.logo h1 {
    font-family: 'Norse-Bold', sans-serif;
    color: white;
    font-size: 4rem;
}

